<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MasterThesisHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MasterThesisHelper.Properties.Settings>
            <setting name="ThesisPath" serializeAs="String">
                <value>D:\uni\master\master-thesis-report\masterthesis\main.tex</value>
            </setting>
        </MasterThesisHelper.Properties.Settings>
    </userSettings>
</configuration>